[Desktop Entry]
Encoding=UTF-8
Name=iCoin
Comment=iCoin P2P Cryptocurrency
Comment[fr]=iCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=iCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/icoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/icoin;
Categories=Office;
